<IfModule mod_rewrite.c>
    Options -Multiviews
    RewriteEngine On
    RewriteBase /public
    
    # Redirect if not a file or directory
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    
    # Route everything to index.php with URL parameters
    RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>